ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: left;
}

li a {
  display: block;
  color: blue;
  text-align: center;
  padding: 14px 16px;
  font-family: "Nanum Gothic", sans-serif;
  font-size: 16px;
}
.grid {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 0px;
  padding: 0px;
}
#logo {
  height: 200px;
  width: 300px;
  display: block;
  margin-left: 10%;
  margin-right: auto;
}
h1 {
  font-family: "Pridi", serif;
  font-size: 60px;
}
.grid_container1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 30px;
  padding: 15px;
  font-family: "Nanum Gothic", sans-serif;
  text-align: left;
}
#inspiration {
  font-family: "Nanum Gothic", sans-serif;
}
#aboutparagraph {
  font-family: "Nanum Gothic", sans-serif;
}
.grid_container2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 150px;
  padding: 15px;
}
#aboutvideo {
  height: 60%;
  width: 60%;
  margin-right: auto;
  margin-left: auto;
}
