ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: left;
}

li a {
  display: block;
  color: blue;
  text-align: center;
  padding: 14px 16px;
  font-family: "Nanum Gothic", sans-serif;
  font-size: 16px;
}

.grid {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 0px;
  padding: 0px;
}
#logo {
  height: 200px;
  width: 300px;
  display: block;
  margin-left: 10%;
  margin-right: auto;
}
#h1 {
  font-family: "Pridi", serif;
  font-size: 75px;
}
.mission {
  font-size: 30px;
  font-family: "Nanum Gothic", sans-serif;
  /* font-weight: 900; */
}
.statement {
  font-family: "Nanum Gothic", sans-serif;
  text-align: left;
  font-size: 22px;
  width: 100%;
}
#img2016 {
  height: 300px;
  width: 500px;
}

.grid_container {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 100px;
  padding: 10px;
}
