.grid_container-past {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 30px;
  padding: 15px;
}
/* #pic2019 {
  height: 400px;
  width: 600px;
}
#pic2018 {
  height: 400px;
  width: 600px;
}
#pic2017 {
  height: 400px;
  width: 600px;
}
#pic2016 {
  height: 400px;
  width: 600px;
}
#pic2015 {
  height: 400px;
  width: 600px;
} */

.past-images {
  width: 100%;
}
