nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline;
  padding: 10px;
}


div.grid_container1{
display: grid;
grid-template-columns: auto auto;
grid-gap: 10px;
padding: 10px;
}

div.grid_container2 {
display: grid;
grid-template-columns: auto auto auto;
padding: 10px;
height: 400;
width: 400;
}



div.grid_container3 {
display: grid;
grid-template-columns: auto auto;
grid-gap: 50px;
justify-content: space-between;
text-align: center;
padding: 10px;
}

div.grid_container4 {
display: grid;
grid-template-columns: auto auto auto;
padding: 10px;
justify-content: space-between;
border-style: solid;
}
