body {
    background-color: #FFFFFF ;
}
h1 {
  font-size: 200%;
}


.about {
  text-align: center;
  color: #FFFFFF;
  font-family: 'Yeseva One', cursive;
}

.column {
  float: left;
  width: 25%;
  padding: 5px;
}
.row::after {
  content: "";
  clear: both;
  display: table;
}

a:link {
  color: pink;
}
a:visited {
  color: midnightblue;
}
a:hover {
  background-color: tan;
  color: lightblue;
}
a:active{
  color: red;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}

.tanheadingcolor {
  color: #D2B48C;
  font-family: 'Merriweather', serif;
  font-weight: 900;
}
.tantextcolor{
  color: #D2B48C;
  font-family: 'Merriweather', serif;
}

.ltblueheadingcolor {
    color: #ADD8E6;
    font-family: 'Merriweather', serif;
}
.ltbluetextcolor {
  color: #ADD8E6;
  font-weight: 900;
  font-family: 'Merriweather', serif;
}

#headingborder {
  border: 2px solid lightblue;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  background-color: tan;
  text-align: left;
  padding: 8px;
}

.Honors{
  font-size: 150%;
}

#workexpborder {
  border: 2px solid lightblue;
  margin-left: 0;
  margin-right: 0;
  width: 90%;
  background-color: #FFFFFF;
  text-align: left;
  padding: 8px;
}

#tableborder {
  border: 2px solid lightblue;
  margin-left: 0;
  margin-right: 0;
  width: 75%;
  background-color: #FFFFFF;
  text-align: left;
  padding: 8px;
}

#normal {
  font-style: normal;
}

#eduborder {
  border: 2px solid tan;
  margin-left: 0;
  margin-right: 0;
  width: 50%;
  background-color: #FFFFFF;
  text-align: left;
  padding: 8px;
}

#listborder{
  border: 2px solid tan;
  margin-left: 0;
  margin-right: 0;
  width: 30%;
  background-color: #FFFFFF;
  text-align: left;
  padding: 8px;
}

#contactborder {
  border: 2px solid lightblue;
  margin-left: 0;
  margin-right: 0;
  width: 30%;
  background-color: #FFFFFF;
  text-align: left;
  padding: 8px;
}

#eduitalics{
  font-style: italic;
}

#listitemsstyle{
  font-style: italic;
  font-weight: bolder;
}

img {
  border-radius: 8px;
}

#imgborders{
  border: 1px solid white;
  margin-left: 200px;
  margin-right: 200px;
  width: 100%;
  background-color: #FFFFFF;
  padding: 8px;
}

#whitespace{
  white-space: normal;
}
